.welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  z-index: 2;
  text-align: center;
  font-size: min(2vw, 1em);
  &__name {
    font-size: min(calc(13.5vw - 10px), 8em);
    margin: 0;
  }
  &__description {
    font-size: min(calc(10vw - 10px), 1.4em);
    margin: 0;
  }
  &__subtext {
    font-size: min(5.1vw, 4em);
    text-transform: uppercase;
    margin: 0;
  }
}