.main {
  max-width: 1400px;
  margin: 100px auto auto;
}

.bold {
  font-size: 1.3em;
}

.link {
  color: white;
  text-decoration: underline;
}

.init {
  font-style: italic;
}

.paragraph {
  &_wrap {
    white-space: pre-line;
  }
}