.main {
  max-width: 1400px;
  margin: 100px auto auto;
}

.bold {
  font-size: 1.3em;
}

.link {
  color: white;
  text-decoration: underline;
}

.init {
  font-style: italic;
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px;
}

.paragraph {
  &_wrap {
    white-space: pre-line;
  }
}