.aboutUs {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  position: relative;
  @media (max-width: 1024px) {
    height: fit-content;
    & > div:nth-child(1) {
      padding: 0 25px;
      flex-direction: column;
      & > div:first-child {
        width: 100%;
        padding: 0;
        min-width: auto;
      }
      & > div:nth-child(2) {
        padding: 0 0 30px 0;
        width: 100%;
        text-align: center;
        & > div {
          padding: 0;
        }
      }
    }
  }
  @media (max-width: 420px) {
    font-size: 0.8em;
  }
  @media (max-width: 280px) {
    b {
      font-size: 1em;
    }
  }
  &__background {
    z-index: -5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__aboutUs {
    flex: 1;
  }
  & .ourStory {
    color: white;
    font-size: 2em;
    position: absolute;
    left: -50px;
    bottom: 5%;
  }
}