@mixin header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 10px 20px;
  top: 0;
  position: fixed;
  z-index: 50;
  background-color: black;
  &__logo {
    @media (max-width: 640px) {
      font-size: 0.8em;
    }
    @media (max-width: 340px) {
      font-size: 0.6em;
    }
  }
  &__nav {
    &__ul {
      display: flex;
      align-items: center;
      gap: 20px;
      list-style: none;
      text-transform: uppercase;
      margin: 0;
    }
    li, a {
      color: white;
      cursor: pointer;
    }
    @media (max-width: 1000px) {
      background-color: black;
    }
  }
  &__list {
    @media (max-width: 1000px) {
      nav {
        padding: 10px 0;
        ul {
          flex-direction: column;
          align-items: center;
          padding: 0;
        }
      }
    }
    @media (min-width: 1001px) {
      width: auto !important;
      height: auto !important;
      button {
        display: none;
      }
      & > div:nth-child(2) {
        display: block !important;
        position: static;
      }
    }
  }
}

.header {
  @include header
}