@mixin header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 10px 20px;
  top: 0;
  position: fixed;
  z-index: 50;
  background-color: black;
  &__nav {
    &__ul {
      display: flex;
      align-items: center;
      gap: 20px;
      list-style: none;
      text-transform: uppercase;
      margin: 0;
    }
    li, a {
      color: white;
      cursor: pointer;
    }
  }
}

.header {
  @include header
}