$borderColor: #a4a4a4;
$errorColor: red;

.fileUpload {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  &__title {
    height: 30px;
    gap: 20px;
    &__error {
      color: red;
    }
  }
  &__files {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__tip {
    text-decoration: underline;
    color: #a4a4a4;
  }
  &__button {
    width: fit-content;
    border: none;
    background: none;
    color: white;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
}