.contacts {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  color: white;
  font-style: normal;
  padding: 0 25px;
  overflow: hidden;
}

.contact {
  color: white;
  padding: 10px 0;
}