.select {
  min-width: 60px;
  position: relative;
  color: white;
  cursor: pointer;
  background: black;
  button {
    font-size: 1em;
    background: none;
    border: none;
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  &, & .optionList .option {
    min-height: 30px;
    display: flex;
    align-items: center;
    user-select: none;
  }
  & .optionList {
    z-index: 5;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 100%;
    animation: showOn 400ms forwards;
    position: absolute;
    background: black;
    & .option {
      width: 100%;
      &:hover {
        background: #1c1c1c;
        transition: background 400ms;
      }
    }
  }
}

@keyframes showOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}