.footer {
  width: 100%;
  display: flex;
  &__subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    flex: 1;
    p {
      font-size: 0.7em;
    }
    &__form {
      height: 50px;
      *, *::placeholder {
        font-size: 0.9em;
      }
    }
  }
  &__navigation {
    flex: 2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
}