.otherBlogs {
  display: flex;
  flex-direction: column;
  color: white;
  &__title {
    @media (max-width: 500px) {
      text-align: center;
    }
    font-size: 3em;
  }
  &__list {
    max-width: 1200px;
    margin: 0 auto;
  }
}