.point {
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
  &__article {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 500px;
      background: black;
      border: 1px solid white;
      padding: 20px;
      color: white;
      margin: 0;
      text-align: center;
    }
    &__arrow {
      padding: 8px;
    }
  }
  &__description {
    max-width: 750px;
    white-space: pre-line;
    color: white;
  }
  &__hr {
    position: absolute;
    bottom: 0;
    width: 200px;
    margin: 0;
  }
}