.point {
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
  &__article {
    max-width: 500px;
    background: black;
    border: 1px solid white;
    padding: 20px;
    color: white;
  }
  &__description {
    max-width: 750px;
    white-space: pre-line;
    color: white;
  }
  &__hr {
    position: absolute;
    bottom: 0;
    width: 200px;
    margin: 0;
  }
}