.localeWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 60;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 10px;
}