.comment {
  width: 100%;
  display: flex;
  @media (max-width: 640px) {
    flex-direction: column;
    align-items: center;
    &__start {
      flex-direction: column;
      gap: 10px;
      &__line {
        margin: 0;
        width: 100% !important;
        height: 3px !important;
      }
    }
  }
  &__start {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    &__avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      flex-shrink: 0;
      position: relative;
      &__image {
        height: auto !important;
      }
    }
    &__line {
      width: 3px;
      height: 60px;
      margin-right: 10px;
      background-color: #1c1c1c;
      flex-shrink: 0;
    }
  }
  &__quote {
    margin: 0;
    padding: 0;
    &__text {
      width: 100%;
    }
  }
}