body .ecommerce {

  & .poster {
    position: relative;
    @media (max-width: 1281px) {
      padding: 0 100px;
    }
  }
  & .glare {
    width: 20vw;
    position: absolute;
    right: 100px;
    bottom: 0;
    pointer-events: none;
    user-select: none;
    scale: 5;
  }
  & .backGlare {
    position: absolute;
    top: 45%;
    right: -150px;
    scale: 2.5;
  }
  & .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    & .title {
      font-size: 5em;
    }
    & .props {
      width: 100%;
    }
  }
  & .sideLight {
    height: 100%;
    position: absolute;
    right: 0;
    transform: translateX(30px);
    z-index: -2;
  }
}