.section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: clip;
  overflow-y: visible;
  color: white;
  @media (max-width: 1281px) {
    flex-direction: column;
  }
}

.reverse {
  @media (max-width: 1281px) {
    flex-direction: column-reverse;
  }
}
