.localSelect {
  display: flex;
  align-items: center;
  gap: 10px;
  &__select {
    min-width: 0;
    width: 60px;
    justify-content: center;
    &__options {
      justify-content: center;
    }
    &__value {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}