.logo {
  color: white;
  position: relative;
  user-select: none;
  margin: 0;
  //&:after {
  //  content: '';
  //  display: block;
  //  width: 50px;
  //  height: 50px;
  //  background: black;
  //  position: absolute;
  //  left: 50%;
  //  transform: translateX(-50%);
  //  top: 0;
  //  animation: showOn 1s forwards ease-out;
  //}
}

//@keyframes showOn {
//  0% {
//    width: 100%;
//  }
//  100% {
//    width: 0;
//  }
//}