.webPortals {
  position: relative;
  & .poster {
    position: relative;
    & .straightLight {
      width: 3%;
      height: 100%;
      position: absolute;
      left: calc(100% - 10px);
    }
  }
  & .xLight {
    width: 1200px;
    position: absolute;
    left: 100%;
    transform: translateX(-50%);
    @media (max-width: 1281px) {
      top: 50%;
    }
  }
}