.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    gap: 10px;
    &__item {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      border: 1px solid white;
      color: white;
      &_current {
        background: white;
        color: black;
      }
    }
  }
  &__arrow {
    flex-shrink: 0;
    width: auto;
    height: 25px;
  }
}