.createNote {
  color: white;
  margin-inline: auto;
  & .title {
    margin: 0;
  }
  & .text {
    width: 100%;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    & .images {
      width: 100%;
      flex-direction: row;
    }
  }
}