.stackNote {
  position: relative;
  opacity: 0;
  & .background {
    flex-direction: row-reverse;
  }
  & .text {
    position: relative;
  }
  & .lightImage {
    margin-left: -400px;
  }
  @media (max-width: 1024px) {
    flex-direction: column-reverse;
  }
}