.stack {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 0.8em;
  padding: 50px;
  & .header {
    font-size: 1.4em;
    font-weight: normal;
  }
  & .list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
  }
  @media (max-width: 1024px) {
    padding: 0 10px;
  }
}